body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.main{
    background: linear-gradient(90deg, #A8CF45 10%, #13989F 100%);
        display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    height: 657px;
}

.lateral1{
    line-height: 300px;
    width: 100%;
    margin: 50px;
}

.lateral1 h1{
    color: antiquewhite;
    font-size: 50px;
       
}

form{
    display: flex;
    padding: 5px;
    flex-direction: column;
    }

form img{
    width: 100%;
    height: 20px;

    border-radius: 2px;
    }

.lateral2{
    margin-right: 100px;
    background-color: rgba(238, 245, 240, 0.993);
    border-radius: 15px;
    padding: 5px;
    }


label{
    margin-top: 2px;
    color: darkslategray;
    margin-bottom: 2px;
    
}

input{
    border-radius: 5px;
    border: darkgray solid ;
    height: 50px;
    margin-top: 2px;
    margin-bottom: 2px;
}

button{
    background-color: #F58634;
    width: 100%;
    border: 0;
    outline: 0;
    padding:15px;
    border-radius: 3px;
    margin-top:15px;
    }

    button a{
        color: white;    
        text-transform: capitalize;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
        transition: all 300ms;
    }

a{
    margin-top: 4px;
    text-decoration: none;
}

.terminos{
    padding-bottom: 2px;
    text-align: center;
    padding-left: 80px;   
}

@media (max-width: 1001px) {
    .lateral1 {
      display: none;
    }
    .lateral2{
        margin-left: 50px;
        margin-right: 50px;
    }
  }
